<% if @question.errors.present? %>
<% @question.errors.full_messages.each do |message| %>
$('.question-errors').html('<%= j message %>');
<% end %>
<% else %>
$('.question-container').append('<label>You are successfully subscribed</label>');
$('.subscribe-question-link').attr('disabled', 'disabled');
$('.subscribe-question-link').attr('href', 'javascript:none');
<% end %>