<% if @question.errors.present? %>
<% @question.errors.full_messages.each do |message| %>
$('.question-errors').html('<%= j message %>');
<% end %>
<% else %>
$('.question-container').append('<label>You are successfully unsubscribed</label>');
$('.subscribe-question-link').text("Subscribe");
$('.subscribe-question-link').attr('href', "<%= subscribe_question_path @question %>");
<% end %>