@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.heading-block {
  padding-top: 15px;
}

.questions {
  font-size: 16px;
  font-weight: 400;

  .question-summary {
    padding: 12px 0 20px 0;
    border-bottom: 1px solid #e0e0e0;
  }

  .mini-counts {
    margin-bottom: 4px;
  }

  .votes-count, .answers-count {
    display: inline-block;
    height: 38px;
    min-width: 38px;
    margin: 0 3px 0 0;
    padding: 5px 5px 6px 5px;
    text-align: center;
  }
}

.question-container {
  .question-header {
    clear: both;
    padding: 5px 0;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1em;
  }

  form.edit_question {
    display: none;
  }

  .question-actions {
    padding-top: 10px;
    a {
      margin-right: 10px;
    }
  }
}

.new_comment {
  display: none;
}

.vote-container {
  font-size: 18px;
  text-align: center;

  .vote-up {
    a {
      color: black;
    }

    &.active {
      a {
        color: green;
      }
    }
  }

  .vote-down {
    a {
      color: black;
    }

    &.active {
      a {
        color: orange;
      }
    }
  }
}

.answers {
  form.edit_answer {
    display: none;
  }

  .answer-actions {
    padding-top: 10px;
    span, a {
      margin-right: 10px;
    }
  }
}

.answer-container {
  padding-bottom: 10px;

  .answer-content {
    border-image: none;
    border-radius: 3px;

    &.answer-content-info {
      border-left-color: #1B809E;
    }

    &.answer-content-best {
      border-left-color: #DFF0D8;
    }
  }

  .answer-actions {
    height: 100%;
  }
}